html {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: transparent;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 55px;
    /*color: black;*/
    margin-bottom: 20px;
}

div {
    margin: auto;
    text-align: center;
}

h3 {
    display: inline;
}

.centerDiv {
    width: 35%;
    height: auto;
    margin: 10% auto;
    padding: 3% 3%;
    background-color: #fde0da;
    opacity: 0.85;
    border-radius: 12px;
}

.innerDiv {
    width: 35%;
    height: auto;
    padding: 3% 3%;
    background-color: #fde0da;
    opacity: 0.85;
    border-radius: 12px;
}

input[type=submit] {
    width: 200px;
    background-color: #a471bc;
    color: black;
    font-size: 110%;
    font-weight: bold;
    padding: 12px 20px;
    margin: 5% 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ba6d8d;
}